<div class="card project"> 

  <div class="card-header">
    <h3>{{include.type}}</h3>
  </div>


  <ul class="horizontal-list">
    
    {% for item in include.collection %}

      <li class="card">
        <a href="{{ item.url }}">
          

          <span class="header">
            {{ item.title }}
            <br>
            {% for highlight in item.highlight%}
              <mark>{{ highlight }}</mark>
            {% endfor %}
          </span>

          <hr />
          {% for image in item.image%}
            
              <img src= {{ image }}>
            
          {% endfor %}

          {% if item.desc != false %}
          <p class="body">
            {{ item.desc }}
          </p>
          {% endif %}
        </a>
      </li>

    {% endfor %}

  </ul>

</div>
